/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/html/
/load_test/mails/
/load_test/imap_server/
/load_test/imap_append/
/load_test/post_mail/
/pkg/
/spec/reports/
/test/tls/
/tmp/
/vendor/
/Gemfile.lock
/Gemfile_local*
/README.html
*~
*.log
